table{
    margin: 0 auto;
    background-color: #FBFFDC;
}
td{
    padding: 7px 10px 2px 10px;
    border-bottom: 1px solid #FFDEB4;
}
th{
    padding: 7px 10px 2px 10px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-bottom: 2px solid #F7C8E0;
    border-top: 1px solid #FFDEB4;
}
.even{
    background-color: #F8E8EE;
}
.odd{
    background-color: #FAF3F0;
}